

img {
    border-radius: 8px;
}

#wrapper{
    margin: auto;
    width: 900px;
}

#signup {
    width: 100px;
    font-size: 22px;
    color: #ef767a;
    border: solid 2px #ef767a;
    border-radius: 9px;
    float: right;
    margin-right: 350px;
}

#signup:hover {
  background-color: #49beaa;
  color: white;
}

#description {
    width: 450px;
    height: 100px;
    float: right;
    margin-top: -18px;
}


.team {
    width: 400px;
    height: 300px;
}


.jessica {
    position: relative;
    text-align: center;
    left: 20%;
    top: 80%;
}

.matt {
    position: relative;
    text-align: center;
    left: 20%;
    top: 80%;
}

.annie {
    position: relative;
    text-align: center;
    left: 20%;
    top: 80%;
}

.cara {
    position: relative;
    text-align: center;
    left: 20%;
    top: 80%;
}

.janet {
    position: relative;
    text-align: center;
    left: 20%;
    top: 80%;
}



.container {
  flex-direction: column;
}
.5people {
    padding-top: 100px;
}
